<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{compounded_pnl}}% in {{n_days}} days - {{strat}} - Trade Logs</title>
    <style>
        * {
        color: rgb(56,139,253);
        }

        body {
          width: 100%;
          height: 100%;
          margin: 50px;
        }
    </style>
</head>
<body style="background-color:rgb(48,54,61);">
    <table>
        <a href="/s">Home</a> | <a href="d?strat={{strat|replace(' ', '_')}}">Export</a>
        <h1>{{strat}}</h1>
        <h3>Profitable Trades: {{profitable_trades_pct}}%</h3>
        <h3>Compounded PnL(1x): {{compounded_pnl}}% in {{n_days}} days</h3>
        <h3>PnL to Day Ratio: {{pnl_to_day_ratio}}</h3>
        <label for="leverage">Leverage:</label>
        <input type="text" id="leverage" name="leverage" type="number" value="1" autofocus><br><br>
        <h4>Leveraged PnL: <span id="Leveraged_pnl">{{compounded_pnl}}</span></h4>
        <!--Displaying the converted table-->
             {% for table in tables %}
            <h2>{{titles[loop.index]}}</h2>                            
            {{ table|safe }}
            {% endfor %}     
    </table>
    <a href="/s">Home</a> | <a href="d?strat={{strat|replace(' ', '_')}}">Export</a>

    <script>
        function calc_compounded_pnl(pnls, leverage){
            s=100.0
            for (let i in pnls) {
                s = (1+(pnls[i]*leverage/100))*s
            }
            return (s-100.0).toFixed(1)
        }
        pnls = JSON.parse(`{{pnls}}`)
        document.getElementById('leverage').addEventListener('input', function (evt) {
            new_c_pnl = calc_compounded_pnl(pnls, this.value)
            document.getElementById('Leveraged_pnl').innerText = `${new_c_pnl}%`
        });
    </script>
</body>
</html>