<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
        color: rgb(56,139,253);
        }
    </style>
    <title>Stats</title>
</head>
<body style="background-color:rgb(48,54,61);">
    <!-- <div align="center"> -->
        <table>
            <h1>
            <!--Displaying the converted table-->
                 {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>                            
                {{ table|safe }}
                {% endfor %}     
            </h1> 
        </table>
    <!-- </div> -->



   
</body>
</html>